* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #000000;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#cpu,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#custom-spotify,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory, #backlight, #wireplumber {
    color:#c3eb59;
    background:linear-gradient(0deg, rgba(201, 223, 146, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    transition:all 0.2s ease 0s;
}
#backlight {
    border-radius:0px 40px 40px 0px;
    margin-right:2px;
    box-shadow:3px 2px rgba(201, 223, 146, 0.5);
}
#backlight:hover {
    box-shadow:3px 2px rgba(140, 140, 140, 0.5);
}
#memory:hover, #wireplumber:hover, #backlight:hover {
    color:#efefef;
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}


#battery {
    color:#33ed05;
    background:linear-gradient(0deg, rgba(201, 223, 146, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    transition:all 0.2s ease 0s;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
    color:#33ed05;
    background:linear-gradient(0deg, rgba(201, 223, 146, 0.5), rgba(0, 0, 0, 0.2));
    margin-left:0;
    margin-right:0;
    padding-left:10px;
    padding-right:10px;
    text-shadow:2px 2px rgba(0, 0, 0, 0.7);
    transition:all 0.2s ease 0s;
}



#network {
  color: #e3c1c1;
  background-color: #94e2d5;
  background:linear-gradient(0deg, rgba(3, 20, 235, 0.5), rgba(0, 0, 0, 0.2));
  margin-left:0;
  margin-right:0;
  padding-left:10px;
  padding-right:10px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.5);
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  color:#ff00ff;
  background:linear-gradient(0deg, rgba(201, 16, 195, 0.5), rgba(0, 0, 0, 0.2));
  margin-left:0;
  margin-right:0;
  padding-left:10px;
  padding-right:10px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.5);
}

#custom-power {
  color:#ff000f;
  background:linear-gradient(0deg, rgba(245, 33, 120, 0.5), rgba(0, 0, 0, 0.2));
  margin-left:0;
  margin-right:0;
  padding-left:10px;
  padding-right:10px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.5);
}

#cpu, #wireplumber.muted, #pulseaudio.muted {
  color:#e6727a;
  background:linear-gradient(0deg, rgba(238, 75, 80, 0.5), rgba(0, 0, 0, 0.2));
  margin-left:0;
  margin-right:0;
  padding-left:10px;
  padding-right:10px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.5);
}

#cpu:hover {
    background:linear-gradient(0deg, rgba(150, 150, 150, 0.5), rgba(0, 0, 0, 0.2));
    color:#efefef;
    text-shadow:2px 2px rgba(150, 150, 150, 0.5);
}

#cpu {
    border-radius:40px 0px 0px 40px;
    margin-left:2px;
    margin-right:0px;
    padding-left:12px;
    transition:all 0.2s ease 0s;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

#custom-spotify {
  color:#2ae843;
  background:linear-gradient(0deg, rgba(0, 128, 15, 0.5), rgba(0, 0, 0, 0.2));
  margin-left:0;
  margin-right:0;
  padding-left:10px;
  padding-right:10px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.5);

}
